@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700|Encode+Sans:400,700|Roboto:400,700&display=swap');

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: lightgrey;
  line-height: 1.6;
}

header {
  background: #4d194d;
  padding: 8px;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.25rem;
  font-family: ;
}

@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  color: #fff;
  padding: .3em 1.5em;
  text-decoration: none;
  border-radius: 10px;
  background: #e60000;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.entro {
  text-transform: uppercase;
  margin: 5px;
  letter-spacing: 2px;
  font-size: 2em;
  color: #fff;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;}

.logo {
  margin: 0;
  font-size: 3rem;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  color: #fff;
}

.logo a {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}

.hero {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1vh 1em;
}

.card {
  justify-content: center;
  align-items: center;
}

.products {
  padding: 1em;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-gap: 2em;
  justify-content: center;
  align-items: center;
} 

h3.product-card-title {
  line-height: 1.3;
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / -1;
}

.product-card,
.product-card-info {
  letter-spacing: 1px;
  background: #fff;
  color: #000;
  padding: 1em;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  margin-bottom: 2em;
}

@media (max-width: 600px) {
 .products {
  grid-template-columns: 1fr;
  }
}

.product-card-title {
  margin: 0;
  font-size: 1.5rem;
  color: #000;
}

.back-btn {
  list-style: none;
}

i.fas.fa-hand-point-left {
  font-size: 3em;
  text-decoration: none;
  margin-left: .75em;
  color: #000;
}

i.fas.fa-hand-point-left:hover {
  color: #e60000;
}

.product-card-title {
  text-align: center;
}

.footer-label {
  color: #000;
  text-align: center;
  margin-top: 4em;
  padding: 2em;
  background: ; 
}


