@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700|Encode+Sans:400,700|Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #eee;
  background: lightgrey;
  line-height: 1.2;
}

header {
  background: #4d194d;
  padding: 8px;
}

img {
  max-width: 100%;
}

p {
  letter-spacing: 1px;
  font-size: 1.25rem;
  font-family: ;
  margin: .75em 0;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: #ffcccc;
}

.entro {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  font-size: 2em;
  color: #fff;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;}

.logo {
  margin: 0;
  font-size: 3rem;
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  color: #fff;
}

.hero {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1vh 1em;
}

.products {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
} 

.product-title {
  text-align: center;
  color: #00C896;
  grid-column: 1 / -1;
}

.product-card {
  background: #fff;
  color: #000;
  padding: .5em 0;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  margin-bottom: 2em;
}

.product-card:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.product-card:hover, .product-card:focus, .product-card:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.product-card-title {
  font-size: 1.5rem;
  color: #000;
}

.title {
  text-align: center;
  font-size: 1.125em;
  color: #4E166F;
}

.footer-label {
  color: #000;
  text-align: center;
  margin-top: 4em;
  padding: 2em;
}

