@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700|Encode+Sans:400,700|Roboto:400,700&display=swap');

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #eee;
  background: lightgrey;
  line-height: 1.2;
}

header {
   background: #4d194d;
  padding: 8px; 
}

form {}
ul {
  margin-top: 0;
  padding: 2em;
  text-align: center;
}

a  {
  text-decoration: none;
  font-size: 2rem;
}

.info {
  text-align: center;
  color: #000;
}

.logo {
   margin: 0;
  font-size: 3rem;
  text-align: center;
  color: #fff;
  padding: 0;
  
}

.logo a {
  font-family: 'DM Sans', sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
}
  
.hero {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #33cccc;
  color: #000;
  text-align: center;
  padding: 1vh 1em;
}

#form-main{
  width:100%;
  
  padding-top:0px;
}

#form-div {
  border-radius: 5px;
  background: #fff;
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:35px;
  width: 450px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 15px #646364;
}

.feedback-input {
  color:#000;
  font-family: Montserrat, Arial, sans-serif;
  font-weight:300;
  font-size: 14px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fff;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid transparent;
  border-bottom: 1px solid #000;
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  color: #000;
  outline: none;
  padding: 13px 13px 13px 13px;
}

.focused{
  color:#000;
  border:#30aed6 solid 2px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  border-radius: 5px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: 0px solid transparent;
  cursor:pointer;
  background-color: #000;
  color:white;
  font-size:18px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 1em;
  font-weight:300;
}

#button-blue:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left:;
    margin-right:;
    width: 88%;
    margin-left: 2em;
    padding-left: 3%;
    padding-right: 3%;
  }
}

div.footer-label {
  margin-top: 2em;
  color: #000;
  text-align: center;
}

